.App {
  text-align: center;
  color:white;
  font-family: Roboto;  
  font-weight: lighter;  
}

body{
  background-color:  rgb(66, 67, 66);
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  padding: 7px;
}


.jumbotron {
  background-image: url('./Assets/background2.gif');
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(26, 26, 28);
  color:white;
}

.jumbotron .container {
  position: relative;
  top:25%;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;   
  font-family: 'MONACO', monospace ;
  font-weight: bold;
}

.jumbotron h3, h4{
  font-weight: lighter;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.more-info{
  color:rgb(240, 240, 240);
  background-color:rgb(19, 137, 150);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, right;
}

.more-info h3 {
  font-family: 'MONACO', monospace;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}

.btn-hover {
  cursor: pointer;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-radius: 0px;
  border-width: 3px;
  color: white;
}

